qcharitybd.com, www.qcharitybd.com {
    handle_path / {
        reverse_proxy qcbd_ui:80
    }

    handle_path /api/* {
        reverse_proxy qcbd_api:5050
    }

    handle_path /auth/* {
        reverse_proxy keycloak:8080
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }
}
